---
const { title, description, tag, iconName, cardUrl } = Astro.props;
import { Icon } from "astro-icon/components";
---

<a href={cardUrl} class="">
  <div
    class="flex flex-col items-center whitespace-nowrap gap-2 p-4 flex-grow border md:group-hover:border-gray-400 border-gray-500 rounded-lg h-full w-40 md:hover:-translate-y-[2px] transition-all duration-500"
  >
    <div class="flex flex-col gap-2 items-center">
      <div class="md:group-hover:scale-[110%] transition-all duration-300">
        <Icon name={iconName} class="w-10 h-10" />
      </div>

      <div class="text-lg font-bold capitalize">
        {title}
      </div>
    </div>

    <!-- <div class="text-sm pb-2 text-left font-thin text-primary/70">
      {description}
    </div>
    <!-- 
    <div class="mt-auto">
      <div class="bg-primary/20 text-sm inline-block px-2 py-1 rounded">
        {tag}
      </div>
    </div> -->
  </div>
</a>
