---
import { formatDate, formatTag } from "../lib/helpers";
import type { MarkdownLayoutProps } from "astro";
import BasicLayout from "./BasicLayout.astro";
import { Icon } from "astro-icon/components";
import Navbar from "../components/Navbar.astro";

type Props = MarkdownLayoutProps<{
  title: string;
  category: string;
  description: string;
  pubDate: string;
  minutesRead: string;
  image: string;
  projectURL: string;
  repoURL: string;
  tags: string[];
}>;

const { slug } = Astro.params;
const { frontmatter } = Astro.props;
---

<BasicLayout
  frontmatter={frontmatter}
  slug={slug}
  page="blog"
  title={`engage-bento - ${frontmatter.title}`}
  description={frontmatter.description}
>
  <Navbar />

  <main class="mx-auto max-w-xl w-full p-2 md:py-5 text-neutral-100">
    <!-- <hr class="border-[.5px] border-gray-100/10 mb-5" /> -->

    <div
      class="w-fit px-4 py-1 rounded rounded-b-none border-b-none border border-gray-500 text-neutral-100 capitalize text-sm"
    >
      {frontmatter.category}
    </div>
    <div class="border-t border-gray-500">
      <div class="flex justify-between mt-2 text-neutral-100/50 text-sm">
        <p>{frontmatter.minutesRead}</p>
        <p>{formatDate(new Date(frontmatter.pubDate))}</p>
      </div>

      <div class="text-5xl f-bold mt-2">
        {frontmatter.title}
      </div>
      <div class="text-neutral-100/70">
        {frontmatter.description}
      </div>

      <div class="">
        <div class="mt-5 text-neutral-100/70 f-light text-sm">
          Technologies:
        </div>

        <div class="flex gap-1 w-full overflow-scroll mb-2">
          {
            frontmatter.tags.map((tag) => (
              <a
                href={`/tags/${formatTag(tag)}`}
                class="no-underline hover:no-underline text-sm bg-gray-700 text-neutral-100 rounded px-2 py-1 lowercase whitespace-nowrap"
              >
                #{formatTag(tag)}
              </a>
            ))
          }
        </div>
      </div>

      <a href={frontmatter.projectURL || "hover:skew-y-12"}>
        <img
          src={frontmatter.image}
          alt=""
          class="border border-gray-500/50 w-full object-cover h-full"
        />
      </a>
    </div>

    <div class="flex items-center gap-2 w-full bg-darkslate-700 py-2">
      {
        frontmatter.projectURL && (
          <a href={frontmatter.projectURL} class="w-full group">
            <button class="text-neutral-100 bg-gray-700 md:hover:text-neutral-100 transition-all duration-200 rounded py-2 px-4 flex-1 w-full">
              <div class="flex items-center justify-between gap-2">
                <div>go to app</div>
                <Icon
                  name="mdi:login"
                  class="w-5 h-5 md:group-hover:scale-110 transition-all duration-100"
                />
              </div>
            </button>
          </a>
        )
      }
      {
        frontmatter.repoURL && (
          <a href={frontmatter.repoURL} class="w-full group">
            <button class="text-neutral-100 bg-gray-700 md:hover:text-neutral-100 transition-all duration-200 rounded py-2 px-4 flex-1 w-full">
              <div class="flex items-center justify-between gap-2">
                <div>star on github</div>
                <Icon
                  name="mdi:github"
                  class="w-5 h-5 md:group-hover:scale-110 transition-all duration-100"
                />
              </div>
            </button>
          </a>
        )
      }
    </div>

    <article class="prose prose-p:text-purple-500 prose-slate prose-invert">
      <slot />
    </article>
  </main>
</BasicLayout>

<style is:global>
  ::-webkit-scrollbar {
    display: none;
  }
</style>
